<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>보람찬 하루</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">보람찬 하루</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'new' %}">글 작성</a></li>
            <li><a href="#">작성</a></li>
            <li><a href="{% url 'photo' %}">VIEW</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
    </nav>



    {% block content %}


    {% endblock %} 


</body>